<footer class="footer">
  <div class="container">
    <ul class="footer__menu">
      <li class="footer__menu__item">
        <a href="mailto:{{ site.email }}">Email</a>
      </li><!-- .footer__menu__item -->

      <li class="footer__menu__item">
        <a href="https://twitter.com/{{ site.twitter.username }}">Twitter</a>
      </li><!-- .footer__menu__item -->

      <li class="footer__menu__item">
        <a href="https://github.com/{{ site.github.username }}">GitHub</a>
      </li><!-- .footer__menu__item -->

      <li class="footer__menu__item">
        <a href="{{ '/feed.xml' | relative_url }}">RSS</a>
      </li><!-- .footer__menu__item -->
    </ul><!-- .footer__menu -->
  </div><!-- .container -->
</footer><!--- .footer -->
