.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
  border: 1px solid var(--color-border);
  text-decoration: none;

  @media (prefers-reduced-motion: no-preference) {
    transition: color 0.1s ease-in-out, border 0.1s ease-in-out;
  }

  &:is(:hover, :focus) {
    border-color: var(--color-primary);
  }
}

.card__title {
  font-weight: 700;
}

.card__date {
  margin-top: auto;
  margin-left: auto;
  font-size: 0.875rem;
}
