.grid {
  display: grid;
  gap: 1rem;

  @media (min-width: 40rem) {
    grid-template-columns: 1fr 1fr;

    & > *:first-of-type {
      grid-column: span 2 / span 2;
    }
  }

  @media (min-width: 64rem) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
