.timeline {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0;
  margin: 0.5rem 0;
  list-style: none;
  font-family: var(--font-mono);
}

.timeline__item {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;

  &::before {
    content: '';
    background-color: var(--color-primary);
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
  }

  &::after {
    content: '';
    background-color: var(--color-border);
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    top: calc(100% - 0.25rem);
    left: 0.1875rem;
  }

  &:last-of-type::after {
    display: none;
  }

  & p {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.875rem;
  }
}

.timeline__item__title {
  font-weight: 500;
  color: var(--color-text-strong);
}
