---
import BaseLayout from "@/layouts/base-layout.astro"
import Grid from "@/components/grid.astro"
import Books from "@/components/content/books.astro"
import Gear from "@/components/content/gear.astro"
import Software from "@/components/content/software.astro"
import OpenSource from "@/components/content/open-source.astro"
import FooterOrnament from "@/components/footer-ornament.astro"

const title = "Living"
const description = "A collection of things I want to share from my life."
---

<BaseLayout title={title} description={description}>
  <h1>{title}</h1>

  <blockquote>
    <p>{description}</p>
  </blockquote>

  <div class="journey-container">
    <section>
      <h2>Reading</h2>
      <Books />
    </section>

    <Grid moreSpacing>
      <section>
        <h2>Gear</h2>
        <Gear />
      </section>

      <section>
        <h2>Software</h2>
        <Software />
      </section>
    </Grid>

    <section>
      <h2>Open Source</h2>
      <OpenSource />
    </section>

  </div>

  <FooterOrnament />
</BaseLayout>

<style>
.journey-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
</style>
