---
import Pet from "@/components/vector/pet.astro"
---

<div class="footer-ornament">
  <Pet />
</div>

<style>
.footer-ornament {
  display: flex;
  justify-content: flex-end;
  margin-top: 64px;
}

.footer-ornament + :global(.footer) {
  margin-top: 32px;
}
</style>
