.footer {
  padding: 4rem 0;
}

.footer__menu {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__menu__item {
  font-size: 0.875rem;
  text-transform: uppercase;
}
