.processed-content {
  line-height: 1.7;

  img {
    max-width: 100%;
    height: auto;
  }

  strong {
    color: var(--color-heading);
  }

  p {
    margin: 1.5em 0;
  }

  .highlighter-rouge {
    background-color: var(--color-code-background);
    overflow-x: scroll;
    padding: 0.2em;

    & + .highlighter-rouge {
      margin-top: 1.5rem;
    }

    .highlight {
      background: none;
    }

    div.highlight {
      padding: 1rem 1.5rem;
    }
  }

  blockquote {
    background-color: var(--color-blockquote-background);
    margin-left: 0;
    margin-right: 0;
    padding: 1px 1.5em;
    border-left: 2px solid var(--color-highlight-alt);
    font-style: italic;
  }

  ol {
    padding-left: 1.25em;
  }

  p,
  ul,
  ol,
  iframe,
  .highlighter-rouge {
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin-top: 3rem;
    }
  }
}
