---
layout: default
---

{{ content }}

<article>
  <h2>Hi, I'm Nishiki.</h2>
  <p>
    I've been building things for the web since 2005 with a particular affinity
    for Ruby on Rails. I'm an advocate of open source and ethical software.
  </p>
</article>

<ul class="list list--dated">
  {%- for post in site.posts -%}
    <li class="list__item">
      <time datetime="{{ post.date | date_to_xmlschema }}">
        {{ post.date | date: '%b %-d, %Y' }}
      </time>

      <a href="{{ post.url | relative_url }}">
        <strong>{{ post.title | escape }}</strong>
      </a>
    </li><!-- .list__item -->
  {%- endfor -%}
</ul><!-- .list -->
